{% extends 'layouts/master.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">
    <h1>Dashboard</h1>
    <hr>

    <!-- content -->
    <div class="row">
        <div class="col p-2 card mx-2">
            Products
            <hr>
            <a href="{% url 'list-product' %}">View Products</a>
        </div>
        <div class="col p-2 card mx-2">
            Orders
            <hr>
            <a href="{% url 'list-product' %}">View Products</a>
        </div>
        <div class="col p-2 card mx-2">
            Notifications
            <hr>
            <a href="{% url 'list-product' %}">View Products</a>
        </div>
    </div>
</div>
{% endblock %}